.dropdown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;

  &__emptyMessage {
    font-size: 2rem;
    font-weight: 700;
  }

  &__wrapper {
    display: none;
    flex-direction: column;
    gap: 2rem;
    max-width: 32rem;
    user-select: none;

    &--isActive {
      display: flex;
    }
  }

  &__input {
    width: 32rem;
    height: 5rem;
    padding-left: 6rem;
    font-size: 2rem;
  }

  &__text {
    font-weight: 500;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.875rem;

    &:hover {
      opacity: 0.7;
      transition-duration: 0.3s;
    }
  }

  &__quantity {
    font-size: 1.5rem;
    opacity: 0.6;
  }
}