.input {
    height: 7rem;
    width: 100%;
    padding: 2rem;
    font-size: 1.75rem;
    letter-spacing: -0.01rem;
    font-weight: 400;


    &--withLoop {
        padding-left: 6rem;
        letter-spacing: 0;
    }

    &__wrapper {
        position: relative;
        width: 51rem;

        &--withLoop {
            width: 46.5rem;
        }
    }

    &__buttonWrapper {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &:hover {
        opacity: 0.7;
        background-color: var(--colorAntiFlashWhite);
        transition-duration: 0.2s;
        border-radius: 1rem;
    }

    &:focus {
        border-radius: 1rem;
        outline: 1px solid var(--colorBlack);
        background-color: var(--colorAntiFlashWhite);
        opacity: 0.7;
        transition: none;
    }

    @media (max-width: 1280px) {

        &__wrapper {

            &--withLoop {
                width: 100%;
            }
        }
    }
}