.button {
  position: relative;
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  padding-inline: 8rem;
  padding-block: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__label {
    font-weight: 500;
    line-height: 3rem;
    font-size: 1.75rem;

    &--isBorderBottom {
      font-size: 2.25rem;
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    &--isActive {   
      display: flex;
      align-items: center; 
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      right: 0;
    }
  }

  &--isLight {
    color: var(--colorBlack);
    background-color: var(--colorWhite);
    border: var(--colorBlack) 1.5px solid;
  }

  &--isBorderBottom {
    width: 32rem;
    padding-inline: 0;
    justify-content: space-between;
    color: var(--colorBlack);
    background-color: var(--colorWhite);
    border-bottom: 0.5px solid var(--colorSilver);
    border-radius: 0;
  }
}