.button {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  padding-inline: 8rem;
  padding-block: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__label {
    font-weight: 500;
    line-height: 3rem;
    font-size: 1.75rem;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &--isLight {
    color: var(--colorBlack);
    background-color: var(--colorWhite);
    border: var(--colorBlack) 1.5px solid;
  }

  &--isNavElem {
    height: 2.5rem;
    padding: 0;
    background-color: var(--colorWhite);
    color: var(--colorBlack);

    .button__label {
      font-size: 2rem;
    }

    &:hover {
      opacity: 0.6;
      transition-duration: 0.2s;
    }
  }

  &--isHeaderIcon {
    width: 4rem;
    height: 4rem;
    padding: 0;
    background-color: var(--colorWhite);
    

    &:hover {
      background-color: var(--colorCadeyGray);
      border-radius: 8px;
    }

    &:active {
      transform: scale(0.95);
    }
  
    &.button {
      gap: 0;
    }
  }

  &--isBackBlack {
    background-color: var(--colorGrayDark);
    border: var(--colorWhite) 1.5px solid;
  }
}
