.burgerButton {
  display: none;

  &__button {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    width: 6rem;
    height: 6rem;
    background: var(--colorGray);
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;

    &:hover {
      opacity: 0.75;
    }
  }

  &__line {
    display: block;
    width: 60%;
    height: 0.5rem;
    background-color: var(--colorBlack);
    opacity: 0.5;
    border-radius: 1rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    gap: 8rem;
    padding-left: 2rem;
    background-color: var(--colorWhite);
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
    border-bottom: 0.5rem solid var(--colorGray);

    &--isActive {
      transform: translateY(0);
    }
  }


  @media (max-width: 1280px) {
    display: block;
  }

  @media (max-width: 767px) {

    &__list {
      justify-content: start;
      gap: 2rem;
    }
  }
}