.categoryCard {
    width: 20rem;
    height: 16rem;
    padding: 3rem 2rem;
    background-color: var(--colorGrayLight);
    border-radius: 2rem;

    &__productWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &__name {
        width: 100%;
        height: 3rem;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        overflow: hidden;
    }
}