.categoryCard {
    width: 20rem;
    height: 16rem;
    padding: 3rem 6.5rem;
    background-color: var(--colorGrayLight);

    &__productWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &__name {
        width: auto;
        height: 3rem;
        font-size: 2rem;
        font-weight: 500;
        white-space: nowrap;
    }
}