@font-face {
  font-family: inter;
  src:
    local("Inter-Thin"),
    local("Inter Thin"),
    url("/fonts/Inter18pt-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src:
    local("Inter-Regular"),
    local("Inter Regular"),
    url("/fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src:
    local("Inter-Medium"),
    local("Inter Medium"),
    url("/fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter;
  src:
    local("Inter-Bold"),
    local("Inter Bold"),
    url("/fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
