/* https://coolors.co/ - имена для цветов берем отсюда */

:root {
  --colorPlatinum: #d9d9d9;
  --colorAntiFlashWhite: #f0f0f0;
  --colorWhiteSmoke: #f5f5f5;
  --colorCadeyGray: #a0a0a0;
  --colorCrayola: #4772ff;
  --colorImperialRed: #f93639;
  --colorLimeGreen: #27c632;
  --colorMantis: #67bf55;
  --colorVeronica: #9747ff;
  --colorPictonBlue: #33b8ff;
  --colorOrange: #ffb012;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorRed: var(--colorImperialRed);
  --colorGray: var(--colorPlatinum);
  --colorGrayLight: var(--colorAntiFlashWhite);
  --colorGreenLight: var(--colorLimeGreen);
  --colorPrimary: var(--colorCrayola);
  --colorGreenDark: var(--colorMantis);
  --colorPurple: var(--colorVeronica);
  --colorBlue: var(--colorPictonBlue);
  --boxShadowDefault: 0px 4px 8px 0px rgb(0 0 0 0.2);

  --colorAnthracite: #909090;
  --colorGhostWhite: #f9f9f9;
  --colorGrayDark: #2c2c2c;
  --colorCultured: #f4f4f4;
}
