.visuallyHidden {
  display: none;
}

.container {
  padding: 2rem 20rem;
}

.containerMedium {
  padding: 7rem 20rem;
}

.containerLarge {
  padding: 10rem 20rem;
}

.bigCards {
  display: flex; 
  justify-content: center;
}

.discount {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.discointText {
  font-size: 3rem;
  line-height: 1.34;
}

.discountContent {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1919px) {
  .container {
    padding: 2rem 15rem;
  }

  .containerMedium {
    padding: 7rem 15rem;
  }

  .containerLarge {
    padding: 10rem 15rem;
  }

  .bigCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 2rem 10rem;
  }

  .containerMedium {
    padding: 7rem 10rem;
  }

  .containerLarge {
    padding: 10rem 10rem;
  }

  .discointText {
    font-size: 2.5rem;
  }
}

@media (max-width: 950px) {
  .bigCards {
    grid-template-columns: repeat(1, 1fr);
  }

  .discountContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 3rem 2rem;
  }

  .containerMedium {
    padding: 7rem 2rem;
  }

  .containerLarge {
    padding: 8rem 2rem;
  }
}