.card {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 54rem;
    width: 33.5rem;
    gap: 2rem;
    padding: 3rem 2rem;

    &__imgWrapper {
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__favoriteField {
        margin-left: auto;
    }

    &__descriptionContainer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 2rem;
        min-height: 20rem;
    }

    &__price {
        margin-bottom: 1rem;
    }

    &__description{
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
    }

    &__price {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
    }

    @media (max-width: 1280px) {
        height: 44rem;
        width: 21.5rem;
        padding: 2rem 1rem;

        &__imgWrapper {
            width: 13rem;
            height: 13rem;
            margin: 0 auto;
        }

        &__descriptionContainer {
            gap: 1rem;
        }

        &__description {
            font-size: 1.75rem;
        }

        &__price {
            font-size: 2.25rem;
            margin-bottom: 0;
        }
    }

    @media (max-width: 950px) { 
        
    }
}