.card {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    height: 54rem;
    width: 33.5rem;
    gap: 2rem;
    padding: 3rem 2rem;

    &__imgWrapper {
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__favoriteField {
        margin-left: auto;
    }

    &__descriptionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__price {
        margin-bottom: 1rem;
    }

    &__description{
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        font-weight: 500;
    }

    &__price {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 600;
    }
}