.searchInput {
    position: relative;
    max-width: 46.5rem;
    background-color: var(--colorCultured);
    border-radius: 1rem;

    &__svg {
        position: absolute;
        top: 2rem;
        left: 2rem;
        
    }
}