.product {
    display: flex;
    align-items: center;
    position: relative;
    width: 25vw;
    height: 34rem;

    &.grayLight {
        background-color: var(--colorGrayLight);
    }

    &.grayDark{
        background-color: var(--colorGrayDark);

        & .product__title {
            color: var(--colorWhite);
        }
    }

    &.medium {
        height: 41rem;
        width: 50vw;

        &> .product__content {
            width: 42rem;
            gap: 2rem;
            margin-left: -3.5rem;

                    
            &> .product__title {
                font-size: 6.125rem;
                font-weight: 500;
            }
        }

    }

    &.large {
        width: 50vw;
        height: 75rem;
        
        &> .product__imgWrapper {
            position: absolute;
            right: 0;
        }

        &> .product__content {
            position: absolute;
            transform: translateX(calc(-80% - 2rem));
            right: 0;
            margin-left: 0;
            width: 44.5rem;
            gap: 2rem;

            
            & .product__title {
                font-size: 8rem;
                line-height: 7rem;
                font-weight: 100;

                &--medium {
                    font-weight: 500;
                }
            }
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 20rem;
        gap: 1rem;
        margin-left: 6rem;
    }
    
    &__title {
        font-size: 3.625rem;
        line-height: 5rem;
        font-weight: 300;

        &--medium {
            font-weight: 500;
        }

        &--black {
            color: var(--colorWhite);
        }
    }

    &__description {
        font-size: 1.75rem;
        line-height: 3rem;
        font-weight: 500;
        color: var(--colorGrayMuted);
    }
}