.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 160px;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6.5rem;
        white-space: nowrap;
    }

    &__actions {
        display: flex;
        gap: 3rem;
    }
}