.miniCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 21rem;
    height: 8rem;
    color: var(--colorGrayDeep);
    background-color: var(--colorCultured);

    &--delivery {
        width: 20rem;
        gap: 2rem;
    }
    
    &__icon {
        height: 3rem;
        width: 3rem;
        margin-left: 1rem;

        &--delivery {
            display: flex;
            justify-content: center;
            height: 7rem;
            width: 7rem;
            margin-left: 0;
            color: var(--colorGrayPlatinum);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        font-size: 1.75rem;
        line-height: 2rem;

        &--delivery {
            line-height: 3rem;
        }
    }

    &__title {
        color: var(--colorSilver–°halice);

        &--delivery {
            color: var(--colorDarkSilver);
        }
    }

    &__description {
        font-weight: 500;

        &--delivery {
            color: var(--colorBlack);
        }
    }

    &--delivery {
        background-color: var(--colorWhite);
    }
}