.footer {
    padding-block: 13rem 10rem;
    color: var(--colorWhite);
    background-color: var(--colorBlack);

    &__container {
        max-width: 140rem;
        padding-inline: 2rem ;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 3rem auto;
    }

    &__infoWrapper {
        display: flex;
        flex-direction: column;
        max-width: 48rem;
        gap: 3rem;
    }
    
    &__text{ 
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 3rem;
        color: var(--colorAmericanSilver);
    }

    &__lists {
        display: flex;
        gap: 4rem;
    }

    &__socials {
        max-width: 140rem;
        display: flex;
        gap: 4.5rem;
        margin: 0 auto;
        padding-inline: 2rem;
    }

    @media (max-width: 1280px) {
        
        &__container {
            gap: 10rem;
        }

        &__lists {
            gap: 2rem;
        }
    }
    
    @media (max-width: 767px) {
        padding: 6rem 4rem;
        background-color: var(--colorDarkBurgundy);
        
        &__container {
            flex-direction: column;
            gap: 4rem;
            padding: 0;
            margin-bottom: 1rem;
        }

        &__text {
            text-align: center;
            font-size: 1.625rem;
            font-weight: 400;
        }

        &__infoWrapper {
            align-items: center;
            margin: 0 auto;
        }

        &__lists {
            flex-direction: column;
            margin: 0 auto;
        }

        &__socials {
            justify-content: center;
        }

        &__socialsItem svg{
            width: 3rem;
            height: 3rem;
        }
    }
}