.slider {
  display: flex;  
  flex-direction: column;
  align-items: start;
  padding-bottom: 10rem;
    
  &__container {
    max-width: 80%;
    margin: 4rem auto;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    gap: 4rem;
    transition: all ease 0.5s;
    will-change: transform;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  @media (max-width: 767px) {
    padding-bottom: 8rem;
  }
}
