.slider {
  display: flex;  
  flex-direction: column;
  align-items: start;
    
  &__container {
    max-width: 80%;
    margin: 4rem auto;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    gap: 4rem;
    transition: all ease 0.5s;
    will-change: transform;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  &__name {
    font-size: 3rem;
    line-height: 1.33;
    letter-spacing: 0.03rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__navigationItem {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }

  @media (max-width: 767px) {

    &__name {
      font-size: 2rem;
    }
  }
}
